# Entornos virtuales
.venv/
venv/
env/
.vscode/

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de build
build/
dist/
*.egg-info/

# Archivos de sistema
.DS_Store

# IDEs
.vscode/
.idea/

.gitmessage
